In [1]:
from datashelf.core import init, create_collection, save
import pandas as pd

In [2]:
df = pd.DataFrame([{"name":"Alice", "revenue":"10000", "position":"manager"},
                   {"name":"Bob", "revenue":"5000", "position":"assistant manager"}])

In [3]:
df

    name revenue           position
0  Alice   10000            manager
1    Bob    5000  assistant manager

In [4]:
init()

2025-07-21 17:57:27,553 - INFO - .datashelf directory and metadata already initalized.

In [5]:
create_collection("revenue_management")

2025-07-21 17:57:28,161 - INFO - collection already exists at /Users/rohankrishnan/Documents/GitHub/datashelf/.datashelf/revenue_management with metadata file: revenue_management_metadata.yaml.

In [6]:
save(df = df, collection_name = "revenue management", name = "basic data", tag = "raw", message="test")

2025-07-21 17:57:29,192 - INFO - basic data added to revenue management

If we try to save the same exact df again, we should get a logger message saying that it already is in metadata.

In [7]:
save(df = df, collection_name = "revenue management", name = "basic", tag = "raw", message = "test2")

2025-07-21 17:58:03,288 - INFO - basic's hash matches a dataframe that is already saved in datashelf: basic data.

In [9]:
import yaml
with open('./.datashelf/datashelf_metadata.yaml') as f:
    data = yaml.safe_load(f)
    
data['config'][0]['collections']

[]